<%= render 'layouts/alerts' %>
<%= form_for(@file_store) do |f| %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date_loaded %><br>
    <%= f.date_select :date_loaded %>
  </div>
  <div class="field">
    <%= f.label :date_exercised %><br>
    <%= f.date_select :date_exercised %>
  </div>
  <div class="field">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
