<p id="notice"><%= notice %></p>

<p>
  <strong>Spinheader:</strong>
  <%= @spin_header.SpinHeader %>
</p>

<p>
  <strong>File store:</strong>
  <%= @spin_header.file_store_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @spin_header.notes %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @spin_header.stage %>
</p>

<p>
  <strong>Time recorded:</strong>
  <%= @spin_header.time_recorded %>
</p>

<p>
  <strong>Distance recorded:</strong>
  <%= @spin_header.distance_recorded %>
</p>

<p>
  <strong>Avg speed recorded:</strong>
  <%= @spin_header.avg_speed_recorded %>
</p>

<p>
  <strong>Avg watts recorded:</strong>
  <%= @spin_header.avg_watts_recorded %>
</p>

<p>
  <strong>Avg hr recorded:</strong>
  <%= @spin_header.avg_hr_recorded %>
</p>

<p>
  <strong>Avg rpm recorded:</strong>
  <%= @spin_header.avg_rpm_recorded %>
</p>

<p>
  <strong>Max speed recorded:</strong>
  <%= @spin_header.max_speed_recorded %>
</p>

<p>
  <strong>Max watts recorded:</strong>
  <%= @spin_header.max_watts_recorded %>
</p>

<p>
  <strong>Max hr recorded:</strong>
  <%= @spin_header.max_hr_recorded %>
</p>

<p>
  <strong>Max rpm recorded:</strong>
  <%= @spin_header.max_rpm_recorded %>
</p>

<p>
  <strong>Kcal recorded:</strong>
  <%= @spin_header.kcal_recorded %>
</p>

<p>
  <strong>Kj recorded:</strong>
  <%= @spin_header.kj_recorded %>
</p>

<p>
  <strong>Distance calc:</strong>
  <%= @spin_header.distance_calc %>
</p>

<p>
  <strong>Avg speed calc:</strong>
  <%= @spin_header.avg_speed_calc %>
</p>

<p>
  <strong>Avg watts calc:</strong>
  <%= @spin_header.avg_watts_calc %>
</p>

<p>
  <strong>Avg hr calc:</strong>
  <%= @spin_header.avg_hr_calc %>
</p>

<p>
  <strong>Avg rpm calc:</strong>
  <%= @spin_header.avg_rpm_calc %>
</p>

<p>
  <strong>Max speed calc:</strong>
  <%= @spin_header.max_speed_calc %>
</p>

<p>
  <strong>Max watts calc:</strong>
  <%= @spin_header.max_watts_calc %>
</p>

<p>
  <strong>Max hr calc:</strong>
  <%= @spin_header.max_hr_calc %>
</p>

<p>
  <strong>Max rpm calc:</strong>
  <%= @spin_header.max_rpm_calc %>
</p>

<%= link_to 'Edit', edit_spin_header_path(@spin_header) %> |
<%= link_to 'Back', spin_headers_path %>
